@font-face {
	font-family: JetBrainsMono;
	font-display: swap;
	src: url("../fonts/JetBrainsMono-Medium.woff2") format("woff2"), url(".../fonts/JetBrainsMono-Medium");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: JetBrainsMono;
	font-display: swap;
	src: url("../fonts/JetBrainsMono-Bold.woff2") format("woff2"), url(".../fonts/JetBrainsMono-Bold");
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: JetBrainsMono;
	font-display: swap;
	src: url("../fonts/JetBrainsMono-Thin.woff2") format("woff2"), url(".../fonts/JetBrainsMono-Thin");
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: JetBrainsMono;
	font-display: swap;
	src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2"), url(".../fonts/JetBrainsMono-Regular");
	font-style: normal;
	font-weight: 400;
}
